@model _1.WorkingMVC.Models.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забули пароль";
}

<div class="container" style="padding-top: 100px;">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="col-md-6 offset-md-3">
        <p>Введіть вашу пошту, і ви отримаєте лист з інструкціями на відновлення паролю.</p>
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Надіслати</button>
        </form>
    </div>
</div>