@{
    ViewData["Title"] = "Пароль змінено";
}

<div class="container text-center" style="padding-top: 100px;">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <p>
        Ваш пароль успішно оновлено.
    </p>
    <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Перейти до входу</a>
</div>