@model _1.WorkingMVC.Models.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "Скидання пароля";
}

<div class="container" style="padding-top: 100px;">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <form asp-action="ResetPassword" method="post" class="col-md-6 offset-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="Email" type="hidden" />
        <input asp-for="Token" type="hidden" />

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="PasswordConfirm" class="form-label"></label>
            <input asp-for="PasswordConfirm" class="form-control">
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Зберегти новий пароль</button>
    </form>
</div>